<a href="https://colab.research.google.com/github/moj-a/HalfBrick/blob/main/Analyst_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# read file from google drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
!pip install db-sqlite3

Collecting db-sqlite3
  Downloading https://files.pythonhosted.org/packages/ff/00/e1f3d7bf1e0bff7c0574c0d5535c041e139d4ce43db196147e4c62f52ed5/db-sqlite3-0.0.1.tar.gz
Collecting db
  Downloading https://files.pythonhosted.org/packages/a9/22/f65d64c83e63790b3273c6adb3bff338ad594f46d84b41bd1f94593b40a6/db-0.1.1.tar.gz
Collecting antiorm
  Downloading https://files.pythonhosted.org/packages/0b/f8/71baa4824d9666c1be51d117119579a97f461ddbded48b2e01a6ad0554b5/antiorm-1.2.1.tar.gz (171kB)
     |████████████████████████████████| 174kB 8.6MB/s
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py) ... done
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-cp36-none-any.whl size=1797 sha256=c3e07a71c1e8155b3287ece34d7cda1fc5700f6aa24a70e309f8bcbbc9025a24
  Stored in directory: /root/.cache/pip/wheels/e0/f8/cb/08e3a3a63bdea9ac3a0cccd140636b6cf94e3fb7df1070b12e
  Building wheel for db (setup.py) ... done
  Created wheel for db: filename=db-0.1.1-cp36-none-any.whl size=3894 sha256=c6e764c37eb2ae0a9bb6d3faaad50d17f2b08bf1b3c1682d0e0f36e2ee6b7d24
  Stored in directory: /root/.cache/pip/wheels/30/eb/ba/237fa002d1d1b2e73cedcefd26a9db37c4b72c7e5156ea0501
  Building wheel for antiorm (setup.py) ... done
  Created wheel for antiorm: filename=antiorm-1.2.1-cp36-none-any.whl size=31666 sha256=96d10957f07c2bf79973a6c870cb3b9f7b26d852b511f703758b0fc4ceb88394
  Stored in directory: /root/.cache/pip/wheels/b0/91/4d/f8fe808786ff1cda9e7e99e1b1bbda9196ab26786017965313
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1

In [3]:
import csv 
import json 
import pandas as pd
import sqlite3

In [4]:
# Input a CSV file and convert it to JSON
df = pd.read_csv (r'/content/gdrive/My Drive/sandbox-installs.csv')
df.to_json (r'/content/gdrive/My Drive/sandbox-installs.json')

In [5]:
# Input a CSV file and present a data summary
df.describe()

       device_time_zone_offset  is_returning_user  session_id
count             16000.000000                0.0         0.0
mean              10236.993750                NaN         NaN
std               14525.349349                NaN         NaN
min              -39600.000000                NaN         NaN
25%                7200.000000                NaN         NaN
50%                7200.000000                NaN         NaN
75%               19800.000000                NaN         NaN
max               46800.000000                NaN         NaN

In [6]:
df.head()

                     user_pseudo_id          sku  ... is_returning_user session_id
0  618342da2a939740379751d8914be9ae  Google Play  ...               NaN        NaN
1  583f567782f906072967c4a18d219b73  Google Play  ...               NaN        NaN
2  1643a766620b059dbed5e84c8accbfa9  Google Play  ...               NaN        NaN
3  259786cb107126eb5519dfaac14ec306  Google Play  ...               NaN        NaN
4  ee5bbedebf8b4e20ff31f1a1b559f8d1  Google Play  ...               NaN        NaN

[5 rows x 25 columns]

In [8]:
# create a table that fits our dataset!

db=sqlite3.connect("testing.db")
db.execute("drop table if exists sandb")
try: 
  db.execute("create table sandb(A , user_pseudo_id, sku,	app_version,	geo_country,	geo_region,	geo_city,	install_source,	ua_name,	ua_medium,	ua_source,	device_category,	device_brand_name,	device_model_name,	device_os_hardware_model,	device_os,	device_os_version,	idfa,	idfv,	is_limited_ad_tracking,	device_language,	device_time_zone_offset,	timestamp_raw	table_date,	is_returning_user,	session_id)")
except:
  print("Already table existed!")

In [10]:
# input a CSV file and generate a SQL insert statementy for all rows in the input

with open('/content/gdrive/My Drive/sandbox-installs.csv', 'r') as f:
    reader = csv.reader(f)
    next(reader) # Skip the header row.
    for row in reader:
        db.execute(
        "INSERT INTO sandb VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)",
        row
    )
db.commit()